.wrapper {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  background: url(https://static.spotapps.co/web/americanalasvegas--com/custom/video_poster.jpg)
    no-repeat;
  background-size: cover;
}

.main {
  width: 100%;
}
