.wrapper {
  width: 100vw;
  background-image: url(https://static.spotapps.co/web/americanalasvegas--com/custom/about_us_back.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.red {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 60px 100px;
  font-size: 1.4rem;
  background-color: #a31521;
  gap: 2rem;
}

.red * {
  color: white !important;
}

.rel {
  position: relative;
}

.abs {
  transform: rotate(180deg);
  left: 0;
  z-index: 2;
  position: absolute;
  width: 100vw !important;
}

.top {
  top: 0;
}

.btm {
  bottom: 0;
}

.left,
.right {
  width: 50vw;
}

.about {
  gap: 60px;
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.right {
  background-color: #ddedfa;
  justify-content: space-between;
  padding: 60px;
}

.heading {
  font-size: 4rem;
  font-family: "DM Serif Display", serif;
}

.subheading {
  font-family: "Parisienne", cursive;
  color: #002e48;
}

.body {
  font-size: 1.3rem;
  text-align: center;
}

.input {
  position: relative;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  background-color: transparent;
  outline: none;
  appearance: none;
  padding: 10px 20px;
  color: #000;
  width: 20vw;
}

.input:focus {
  border-bottom: 2px solid #a31521;
}

.button {
  background-color: #a31521;
  border: 2px solid #a31521;
  transition: all 0.3s ease;
  padding: 9px 30px;
  font-family: "DM Serif Display", serif;
  color: #fff;
  width: max-content;
  margin-left: 1rem;
}

.button:hover {
  background-color: #002e48;
  border: 2px solid #002e48;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: max-content;
  max-width: 40vw;
}

.title {
  font-family: "DM Serif Display", serif;
  font-size: 2rem;
}

.content {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.links {
  display: flex;
  gap: 20px;
}

@media screen and (min-width: 1200px) {
  .left,
  .right {
    height: 40vw;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1400px) {
  .left,
  .right {
    height: 30vw;
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 1600px) {
  .right {
    gap: 4rem;
    justify-content: center;
  }

  .red {
    gap: 6rem;
    padding: 100px 20vw;
    justify-items: center;
  }

  .box {
    max-width: 20vw;
    align-items: center;
    justify-content: center;
  }

  .box * {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .subheading {
    margin: 0 0 2rem 0;
  }

  .input {
    margin: 1rem 0;
  }

  .red {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100vw;
    height: 60vw;
  }

  .right {
    height: max-content;
  }

  .heading {
    font-size: 2.4rem;
  }

  .subheading {
    font-size: 1.5rem;
  }

  .body {
    text-align: center;
    font-size: 1.1rem;
  }

  .input {
    width: 80vw;
    margin: 3rem 0 2rem 0;
    padding: 10px;
  }

  .red {
    grid-template-columns: 1fr;
    padding: 50px 10px;
  }

  .box {
    width: 100%;
    max-width: 100%;
  }

  .red * {
    text-align: center;
  }

  .title {
    font-size: 1.2rem;
  }

  .content {
    font-size: 1rem;
  }

  .links {
    justify-content: center;
  }
}
