.wrapper {
  width: 100vw;
  padding: 2rem;
}

.flex {
  gap: 20px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  margin: 1rem;
  padding-bottom: 3rem;
  height: max-content;
}

.heading {
  font-size: 4rem;
  font-family: "DM Serif Display", serif;
}

.subheading {
  font-family: "Parisienne", cursive;
  color: #002e48;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  gap: 5px;
}

.stars i {
  color: #a31521;
}

.review {
  display: flex;
  width: 60vw;
}

.review i {
  color: #002e48;
  font-size: 50px;
  margin: 0 1rem;
}

.body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  font-style: italic;
  font-size: 1.3em;
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 2.4rem;
    margin-bottom: -1rem;
  }

  .subheading {
    font-size: 1.5rem;
  }

  .stars {
    font-size: 1.1rem;
  }

  .review {
    width: 80vw;
  }

  .review i {
    display: none;
  }

  .body {
    text-align: center;
    font-size: 1.1rem;
  }

  .box {
    margin: 0;
  }
}
