.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #002e48;
}

.flex {
  gap: 5px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.heading {
  font-size: 4rem;
  color: white;
  font-family: "DM Serif Display", serif;
}

.subheading {
  font-size: 1.2rem;
}

.subheading * {
  color: white;
}

.choices {
  gap: 0;
  width: 60vw;
  margin-top: 5rem;
  border-radius: 5px;
  overflow: hidden;
}

.choices * {
  font-weight: 600;
}

.choice {
  width: 15vw;
  height: 100%;
  border-radius: 0;
}

.button {
  background-color: rgba(218, 55, 67, 0.85);
  width: 15vw;
  border: 0;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 10px 0;
  color: #fff;
}

.button:hover {
  background-color: rgba(218, 55, 67, 1);
}
