.wrapper {
  top: 0;
  left: 0;
  padding: 10px 3rem;
  position: fixed;
  width: 100vw;
  z-index: 100;
  background-color: white;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.left {
  width: 160px !important;
}

.flex {
  gap: 2rem;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: #002e48;
  font-family: "DM Serif Display", serif;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 2s ease-in-out;
}

.link i {
  font-size: 16px;
}

.link:hover {
  color: #a31521;
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 10px 1rem;
  }

  .left {
    width: 100px !important;
  }

  .link {
    display: none;
  }
}
