.wrapper {
  top: 0;
  left: 0;
  padding: 10px 3rem;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.left {
  width: 160px !important;
}

.flex {
  gap: 2rem;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-size: 16px;
  font-family: "DM Serif Display", serif;
  animation: fadeIn 2s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: white;
  text-shadow: 1px 1px 1px #000000;
}

.slink {
  color: #002e48;
  text-shadow: none;
  animation: fadeIn 2s ease-in-out;
}

.llink {
  padding-left: 1rem;
  border-left: 1px solid white;
}

.slink.llink {
  border-color: #a31521;
}

.link i {
  font-size: 16px;
}

.link:hover {
  color: #a31521;
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 10px 1rem;
  }

  .left {
    width: 100px !important;
  }

  .link {
    display: none;
  }
}
